{
    "Discord" : {
        "email"             : "",
        "password"          : "",
        "server"            : "",
        "channels"          : ["channel_1","channel_2"]
    },

    "Webull" : {
        "email"             : "",
        "password"          : "",
        "tradePin"          : "",
        "paperTrade"        : false,
        "deviceID"          : ""
    },

    "SMS" : {
        "enable"            : false,
        "email"             : "",
        "password"          : "",
        "phone"             : "",
        "carrier"           : ""
    },

    "Trading" : {
        "maxPriceDiff"      : 0.0,
        "defaultSL"         : 0.0,
        "percentInvst"      : 0.0,
        "profitTarget"      : 0.0
    }
}
